:root {
  --color: #003809;
  --color1: #008716;
  --color2: #001a12;
  --back: #e6ede6;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

main {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

aside {
  background-color: var(--color2);
  color: var(--color);
  width: 20rem;
  height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 0;
}
aside nav {
  font-family: sans-serif;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}
aside a {
  width: 100%;
  height: 2rem;
  display: grid;
  place-items: center;
  text-decoration: none;
}
aside a:hover {
  filter: brightness(1.2);
}
.nav__link {
  font-weight: bolder;
  background-color: var(--color1);
  color: #fff;
}
.nav__sublink {
  background-color: var(--color);
  color: var(--back);
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
  color: #003809;
  margin: 1rem 0;
  text-shadow: 2px 2px 4px #0003;
}

img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
}

strong.subtitle {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: var(--color);
}
h2.subtitle {
  background-color: var(--color2);
  color: var(--back);
  padding: 0 1rem;
  border-radius: 0.2rem;
}

.code-block {
  background: #222;
  color: #ddd;
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.code-block__text {
  color: #34e943;

}
.code-block__symbol {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 2px currentColor;
}
.code-block__command {
  font-weight: bold;
  color: #ff0c3d;
}
.code-block__comment {
  color: #0cf;
}

.text {
  font-family: sans-serif;
  margin-top: 1rem;
}

.reflexion {
  font-family: sans-serif;
  background-color: var(--back);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.4rem;
}
.reflexion strong {
  font-size: 1.2rem;
  text-wrap: pretty;
  color: var(--color);
  display: block;
}
.reflexion p {
  color: var(--color2);
  margin-left: 2rem;
}
strong.reflexion__title {
  font-size: 2rem;
  color: var(--color);
}

#logo {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
#logo img {
  width: 30px;
  margin: 0;
}
#logo strong {
  font-size: 1.08rem;
  color: var(--back);
  display: flex;
  flex-direction: column;
}
#logo strong span {
  font-size: 1rem;
}

footer {
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #777;
  width: 100%;
  height: 50px;
  display: grid;
  place-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer b {
  color: #999;
  font-weight: normal;
}